{{ define "main" }}

<!-- <section>
	<div>
		
	</div>
</section> -->
<section class="jumbotron">
	<h1 class="display-4">Perfection lawn & Snow Removal</h1>
	<p class="lead">Honest & Efficient Work</p>
	<hr class="my-4">
	<p>Fast, reliable, efficient, and honest, Perfection lawn & Snow Removal has become a reputable and well-known Lawn Care Service. Our team is up for every job, managing projects with the skill and experience our clients have come to expect at affordable rates</p>
	<div class="text-center">
		<a class="btn btn-outline-primary" href="contact" role="button">Contact Us</a>
	</div>
</section>
<section id="our-story">
	<h2>Our Story</h2>
	<div class="container">
		<p>I started mowing because I had to mow the lawn at home. From this I expanded to my Aunt’s lawn, then neighbors came aboard one by one. I have built a business one lawn at a time. My team developed from those who believe in the philosophy I grew upon. The philosophy that when you do a job it does not matter the size of the job if it is for cash or free. You give it 110% and do the best you can do. A job well done makes you feel good and it is nice to stand back and admire a job well done. My team and I are fast, reliable, efficient, and honest.</p>
	</div>
</section>
<section id="services" class="clearfix">
	<h2>Services</h2>
	<div class="container">
		<div class="row">
			<div class="col">
				<img class="rounded" src="../../img/lawn-disease.png" alt="">
				<P>this</P>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<img class="rounded" src="../../img/lawn-disease.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<img class="rounded" src="../../img/lawn-disease.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<img class="rounded" src="../../img/lawn-disease.png" alt="">
			</div>
		</div>
	</div>
<section id="contact">
	<h2 class="text-center">Contact</h2>
	<div class="container">
		<p class="d-inline">By Email:</p>
		<a class="btn btn-outline-primary" href="contact" role="button">Contact Us</a>
		<br>
		<h4>Or</h4>
		<p>By Phone: (208) 555-5555</p>
	</div>
</section>

{{ end }}
